body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}
#body_div{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#logo{
    height: 60px;
    width: 60px;
}
.social_media{
    height: 20px;
    width: 22px;
}
header, footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rosybrown;
}
header{
    position: sticky;
    top: 0px;
    width: 100%;
}
footer{
    height: 60px;
    width: 100%;
    position: sticky;
    bottom: 0px;
}
#logo{
    margin-left: 1%;
}
#login{
    justify-content: space-between;
    margin-right: 2%;
}
#login, #logo{
    align-content: center;
}
#contact, #social-media{
    align-items: center;
}
#social-media{
    margin-right: 2%;
}
#contact{
    margin-left: 2%;
}
#copyright{
    font-size: 10px;
}  