.city_image{
    height: 150px;
    width: 150px;
    padding: 4%;    
    border-radius: 25%;
}

#search_bar{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#city_card{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}